.find-container__wrapper {
  padding-top: 38px;
  padding-left: 18px;
  padding-right: 18px;
  padding-bottom: 49px;
}

.find-container__title {
  text-align: center;
}

.find-container__subtitle {
  text-align: center;
  margin-top: 20px;
}

.button {
  display: block;
  margin: 0 auto;
  width: 284px;
  height: 58px;
  color: rgba(255, 255, 255, 1);
  margin-top: 20px;

  @include title;
  @include background;
  border: none;
}

iframe {
  min-width: 320px;
  min-height: 350px;
  margin-top: 20px;
}
