.footer__wrapper {
  margin: 0 auto;
  width: 282px;
  padding-top: 28px;
  padding-bottom: 23px;
}

.footer__span {
  text-align: center;

  @include title;
}

.footer-list {
  display: flex;
  justify-content: center;
  padding-top: 33px;
}

.footer-list__item {
  margin-left: 5px;
  list-style: none;
}

.footer-list__item :nth-child(1) {
  margin: 0px;
}

.footer-developed {
  display: flex;
  justify-content: center;
  padding-top: 47px;

}

.footer-developed__icon {
  display: flex;
  margin-left: 5px;
}

.footer-developed__subtitle {
  @include subtitle;
}
