.header {
  min-height: 56px;
}

.visually-hidden {
  display: none;
}

.header__btn--active {
  position: absolute;
  z-index: 3;
}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
}

.header__navigation {
  position: relative;
}


.navigation-list {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;

  @include background;
}

.navigation-list__item {
  list-style: none;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 12px;
}

.navigation-list__link {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;

  @include title;
}
