.main-promo {
  background-image: url("../img/back-desktop.jpg.jpg");
  min-height: 389px;
  padding-top: 90px;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-promo__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.main-title {
  padding-top: 32px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 32px;
}

.main-title__title {
  text-align: center;
  width: 282px;
}

.main-title__subtitle {
  margin-top: 35px;
  text-align: center;
}
