.catalog-item {
  padding-top: 24px;
  padding-bottom: 30px;
}

.catalog-item__figcaption {
  width: 175px;
}

.catalog-item__span {
  display: inline-block;
}

.catalog-item__span--title {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: left;
}

.catalog-item__span--subtitle {
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;
}
