.find {
  padding-top: 38px;

  @include tablets {
    padding-top: 61px;
  }

}




.button {
  display: block;
  margin: 0 auto;
  width: 284px;
  height: 58px;
  color: rgba(255, 255, 255, 1);


  @include title;
  @include background;
  border: none;


}

.button--left {
  @include tablets {
    margin: 0;
  }
}

// iframe {
//   display: block;
//   margin: 0 auto;
//   min-height: 350px;

// }
