.find-container__wrapper {
  max-width: 261px;
  margin: 0 auto;
  padding-top: 38px;
  padding-bottom: 49px;
}

.find-container__title {
  @include title;
  text-align: center;
}

.find-container__subtitle {
  @include subtitle;
  text-align: center;
  padding-top: 20px;
}

.find-container__iframe {
  width: 100%;
}
