.footer-list {
  display: flex;
  justify-content: center;
  padding-top: 33px;
  padding-bottom: 40px;

  @include tablets {
    padding: 0;
  }
}

.footer-list__item {
  margin-left: 5px;
  list-style: none;
}

.footer-list__item :nth-child(1) {
  margin-left: 0px;
}

footer-list__svg:hover {
  fill: rgba(84, 150, 189, 1);
}
