.footer-list {
  display: flex;
  justify-content: center;
  padding-top: 33px;
  padding-bottom: 40px;

  @include tablets {
    padding: 0;
  }
}

.footer-list__item {
  margin-left: 5px;
  list-style: none;
}

.footer-list__item :nth-child(1) {
  margin-left: 0px;
}

.footer-list__svg {
  width: 48px;
  height: 48px;
  padding: 17px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(129, 179, 210, 1);
  color: white;
  cursor: pointer;
}

.footer-list__svg:hover {
  background-color: rgba(102, 158, 192, 1);

}

.footer-list__svg:active {
  background-color: rgba(84, 150, 189, 1);
  opacity: 0.7;

}
