.forms__impression {
  margin-top: 20px;
  padding-top: 20px;
  padding-bottom: 24px;
  border: none;
  border-bottom: 1px solid rgba(229, 229, 229, 1);

  @include tablets {
    margin-top: 48px;
    padding-top: 28px;
  }
}

.impression {



  @include tablets {
    display: flex;
    margin: 0 auto;
    flex-wrap: wrap;

  }

  @include desktop {
    justify-content: center;
  }
}



.impression-legend {

  text-align: center;
  @include title
}

.impression-span {
  display: block;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 46px;
  border-radius: 50%;
  background-color: #F2F2F2;

  &::before {
    content: "";
    display: block;
    width: 0px;
    height: 0px;
    border-radius: 50%;
    background-color: rgba(51, 51, 51, 1);
  }
}

.impression-span:nth-child(1) {
  margin-top: 0px;

  @include tablets {
    margin-top: 16px;
  }
}

.impression-label {
  display: flex;
  align-items: center;
  column-gap: 16px;
  margin-top: 16px;
  font-family: PT Sans;
  font-style: Bold;
  font-size: 18px;
  font-weight: 700;

  @include tablets {
    margin-left: 49px;
  }
}


.impression-label:nth-child(1) {
  margin-top: 0px;

  @include tablets {
    margin-top: 16px;
  }
}



.impression-input {

  appearance: none;
  position: absolute;


  &:checked~.impression-span::before {
    width: 16px;
    height: 16px;
  }
}
