* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.body {
  font-family: "PT Sans", sans-serif;
  margin: 0 auto;
  background-color: #E7E5E5;
  max-width: 320px;

  @include tablets {
    max-width: 768px;
  }

  @include desktop {
    max-width: 1200px;
  }
}



.wrapper {
  // max-width: 282px;
  margin: 0 auto;

  @include tablets {
    max-width: 691px;
  }

  @include desktop {
    max-width: 1074px;
  }


}

.wrapper--header {
  position: relative;
  min-height: 56px;
}

.picture {
  flex-grow: 2;
}

.modal {
  display: none;
}
