.header {
  min-height: 56px;

}

.visually-hidden {
  display: none;
}

.header__btn {
  position: absolute;
  right: 5%;
  z-index: 3;

  @include tablets {
    display: none;
  }

}

.header__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;

  @include tablets {
    z-index: 3;
  }
}


.navigation-list--opened {
  display: block;
}

.navigation-list {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;

  @include background;

  @include tablets {
    display: flex;
    background-color: rgba(255, 255, 255, 1);
    // justify-content: space-between;
  }
}




.navigation-list__item {
  list-style: none;
  text-align: center;
  padding-top: 17px;
  padding-bottom: 12px;
  border-bottom: 2px solid red;

}


.navigation-list__item:nth-child(4) {
  border-bottom: none;
}

.navigation-list__link {
  display: inline-block;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  @include title;

  @include tablets {
    font-size: 14px;
    color: rgba(0, 0, 0, 1);
  }
}
