.main-promo {
  background-image: url("../img/back-desktop.jpg.jpg");
  min-height: 200px;
  padding-top: 90px;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-promo::after {
  // background-image: url("../img/Mobile/intro-triangle.svg.svg");
  // // top: 50%;
  // // left: 50%;
  // border: 2px solid green;
  content: "";
  background-image: url("/source/img/Mobile/intro-triangle.svg.svg");
  background-position: 50% bottom;
  background-repeat: no-repeat;
  display: block;
  height: 57px;
}

.main-promo__img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}
