.promo-forms {
  position: relative;
  background-image: url("../img/back-desktop__form.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include tablets {}
}

.promo-forms__img {
  display: block;
  margin: 0 auto;

}


.promo-forms::after {
  content: "";
  position: absolute;
  background-image: url(../img/promo-lines.svg);
  background-position: center;
  bottom: 0px;
  width: 320px;
  height: 57px;


  @include tablets {
    background-image: url(../img/white-tablets.svg);
    background-position: center;
    width: 768px;

    // height: 57px;
  }

  @include desktop {
    background-image: url(../img/white-desktop.svg);
    background-position: center;
    width: 1200px;
  }
}


.main-title {}

.main-title--decoration {}

.main-title__title {}

.main-title__subtitle {}
