.promo-catalog {
  position: relative;
  background-image: url("../img/back-desktop.jpg");
  padding-top: 52px;
  padding-bottom: 67px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @include tablets {
    padding-top: 95px;
    padding-bottom: 117px;
  }

  @include desktop {
    padding-top: 101px;
    padding-bottom: 120px;

  }
}

.promo-catalog::after {
  content: "";
  position: absolute;
  background-image: url("../img/white-desktop-line.svg");
  background-repeat: no-repeat;
  background-position: center;
  bottom: 0px;
  width: 100%;
  height: 57px;
}

.promo-catalog__img {
  display: block;
  margin: 0 auto;
  width: 229px;
  height: 39px;

  @include tablets {
    width: 459px;
    height: 79px;
  }

}
