.video {
  padding-top: 17px;

  margin: 0 auto;

  @include tablets {

    padding-top: 58px;
    padding-bottom: 40px;

  }
}

.video__title {
  text-align: center;

  @include title;

}

.video__subtitle {
  text-align: center;

  @include subtitle;

  padding-top: 30px;
}

.video__img {
  display: block;
  margin: 0 auto;
  margin-top: 38px;
  margin-bottom: 28px;


  @include tablets {
    margin-top: 66px;
    margin-bottom: 40px;
    width: 100%;
  }
}
