body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

.reasons__container {
  background-color: #81B3D2;
}


.info__label {
}
.info__label_phone::after {
  background-image: url(img/tel.svg);
  position: absolute;


}
