.catalog {

  padding-left: 20px;
}

.catalog-item {}

.catalog-item__figure {}

.catalog-item__figcaption {
  width: 175px;
}

.catalog-item__span {
  display: inline-block;
}

.catalog-item__span--title {


  font-family: PT Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;


}

.catalog-item__span--subtitle {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0px;
  text-align: left;
}

.catalog-likes {}

.catalog-likes__btn {}

.catalog-likes__numbers {}

.video {

  padding-top: 17px;
  padding-left: 20px;
}

.video__title {
  text-align: center;
  @include title;
  width: 266px;

}

.video__subtitle {
  text-align: center;
  @include subtitle;
  width: 266px;
  margin-top: 30px;
}

.video__img {
  display: inline-block;
  margin-top: 17px;
}
